
/*version movil*/
.cabecera{
    background:#ffffff;
    display: flex;
    align-items: center;

    position: fixed;
    width: 100vw;
    z-index: 999999;
    top:0;
    box-sizing: border-box;

}

.header__cabecera{
    display:none;
    align-items: center;

}

.cabecera-movil{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:1rem;
    box-sizing: border-box;
    align-items:center;


}

    .logo-movil{
        display: flex;

    }

        .cabecera-movil-logo{
            width: 30%;
        }
        .login-btn{
            width: calc(50vw - 2rem);
            max-width: 100px;
            background: #31a4e7;
            border: 1px solid #2A7AE4;
            padding: 0.5rem;;
            color: #ffffff;
            font-weight: 600;
            font-size: .9rem;
            line-height: 1rem;
            margin:0 3rem;
            text-align: center;
            box-sizing: border-box;
            margin-right: 8rem;
            border-radius: 10px;


        }  

        .login-btn:hover{
            color: rgb(255, 255, 255);
            background: #0e7ebe;
            transform: scale(1.1);
            filter: drop-shadow(5px 4px 1px hsl(0, 0%, 68%));
            transition: .1s all;
        }

        .lupa-movil{
            width: 20%;
            border:none;
            background:none;

        }

        .buscador{
            display: none;
            margin:1rem;
        } 
        .text-input{

            font-style: normal;
            font-size: 14px;
            align-items: center;
            line-height: 16px;
            border-radius: 20px;
            border: none;
            background: #f5f5f5;
            padding: 1rem 1rem;

            width: 100%;
            max-width: 390px;
            box-sizing: border-box;
        }
        .text-input::placeholder{
            background-image: url(../imagenes/lupa.png);
            background-repeat:no-repeat ;
            background-position: right center;



        }






@media screen  and (min-width: 768px){
    .cabecera-movil{
        display:none

    }

    .header__cabecera{

        align-items: center;
        align-content: center;
        display: flex;
        width: 100vw;
        padding: 0.4rem 8rem;


        box-sizing: border-box;
    }
    .header-logo{
        display: flex;
        width: calc(80vw - 4rem);
        align-items:center;


    }
    .login-btn {
        width: calc(30vw - 4rem);
        margin-right: 5rem;
        align-items: center;
    }
    .text-input{
        width: calc(50vw - 4rem);
        margin-left: 5rem;

    }





    @media screen  and (min-width: 1440px){
        .header__cabecera{

            padding:1rem 4rem;
        }

        .cabecera-logo{
            padding-right: 1rem;
            height: 3rem;
            box-sizing: border-box;
            align-items: center



        }


    }










} ;