.todos__productos{
    width: 100vw;
    background: #dbdada;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;


}

    .chatitas, .sandalias, .deportivas{
        padding:1rem 0;  
        box-sizing: border-box;    

    }


    .titulo{

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem;
        box-sizing: border-box;
    }
        .titulo h2{
            font-weight: 700;
            font-size: 1.5rem;
            color:#000000;
            padding-left: 2.5rem;

        }


        .producto-link{
            color:#2a7ae4;
            padding-right: .4rem;

            gap: 0.2rem;
            font-weight: 700;
            line-height: .8rem;
            width: 40%;
            font-style: normal;
            font-size: 1rem;
            box-sizing: border-box;

        }

        .flecha{
            height: 15px;
            padding-right: 3.4rem;
        }


    .productos{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        box-sizing: border-box;
        padding-left: 0.1rem;

    }
        .producto{
            width: 53%;
            max-width: 150px;
            margin-bottom: 1rem;
            margin-right: .5rem;

            box-sizing: border-box;
        }
            .prodImagen{
                width: 100%;

            }
            .nomprod{
                font-size: .87rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1rem;
                margin-bottom: 0.87rem;
                padding-left: 1.3rem;
            }
            .precioprod{
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 700;
                font-size: 1rem;
                line-height: .06rem;
                color:#464646;
                margin-bottom: 0.87rem;
                padding-left: 1.3rem;

            }


            .producto a{
                color: #2a7ae4;
                font-style: normal;
                font-weight: 700;
                font-size: 1rem;
                line-height: 1rem;
                padding-left: 1.3rem;;

            }

            .producto a:hover{
                color: rgb(255, 255, 255);
                color: #0e7ebe;
                transform: scale(1.1);
                filter: drop-shadow(5px 4px 1px hsl(0, 0%, 57%));
                transition: .1s all;
            }

            .prodoculto{
                display: none;
            }

    @media screen and (min-width:768px){
        .productos{
            padding-left: 3rem;
            padding-right: calc(3.7rem - 0.1rem);
        }
        .producto{
            width: 25%;
            max-width: 190px;

        }

    }


    @media screen and (min-width:1440px){
        .prodoculto{
            display: block;
        }
        .todos__productos{
            padding:2rem 7rem;
        }
        .producto{
            width: 16%;
            max-width: 250px;
        }
        .prodImagen{
            height: 245px;
            max-width: none;

        }
        .titulo{
            width: 85vw;
        }



    }